.detailProduct {
    .container {
        display: flex;
        gap: 20px;
        margin-top: 1.5rem;

        .leftCol {
            width: 40%;
            background-color: #fff;

            .image {
                position: relative;
                width: 100%;
                height: 500px;
                display: none;
            }

            .active {
                display: block;
            }

            .galleryImage {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
        }

        .rightCol {
            flex: 1 1 0%;
            padding: 1rem;
            background-color: #fff;

            .brand {
                margin: 0px;
                color: rgb(36, 36, 36);
                font-size: 0.875rem;
                font-weight: 400;

                .linkBrand {
                    font-size: 0.875rem;
                    color: rgb(13, 92, 182);
                }
            }

            .title {
                margin: 0px 0px 4px;
                color: rgb(36, 36, 36);
                font-size: 1.5rem;
                font-weight: 300;
                word-break: break-word;
            }

            .price {
                font-size: 1.875rem;
                margin-right: 8px;
                font-weight: 500;
            }

            .groupInput {
                display: flex;
                align-items: center;
                margin-top: 8px;

                .minus {
                    border-right: none;
                    border-radius: 4px 0px 0px 4px;
                    padding: 6px;
                    cursor: pointer;
                    width: 30px;
                    background-color: rgb(255, 255, 255);
                    border: 1px solid rgb(236, 236, 236);
                }

                .inputNumber {
                    width: 2.5rem;
                    border: 1px solid rgb(236, 236, 236);
                    height: 29px;
                    text-align: center;
                    outline: none;
                }

                .plus {
                    border-left: none;
                    border-radius: 0px 4px 4px 0px;
                    padding: 6px;
                    cursor: pointer;
                    width: 30px;
                    background-color: rgb(255, 255, 255);
                    border: 1px solid rgb(236, 236, 236);
                }
            }

            .btnBuy {
                background-color: #FF3945;
                color: #fff;
                min-width: 190px;
                width: 100%;
                max-width: 300px;
                height: 48px;
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-weight: 500;
                text-transform: capitalize;
                border: none;
                border-radius: 4px;
                font-size: 1rem;
            }
        }
    }

    .infoDetail {
        background-color: #fff;
        padding: 1rem;
        margin: 1rem 0;

        .titleInfo {
            margin: 0;
            font-size: 1.25rem;
            padding: 0 0 0.5rem 0;
            font-weight: 400;
            text-transform: capitalize;
        }

        .description {
            color: #000;
            text-align: justify;
        }

        .gridInfoDetail {
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 70%;

            .left {
                background-color: #efefef;

                .text {
                    font-weight: 500;
                    font-size: 00.875rem;
                    padding: 0.75rem 0 0.75rem 0.5rem;
                    color: #000;
                }
            }

            .right {
                background-color: #fff;

                .textInfo {
                    padding: 0.75rem 0 0.75rem 0.5rem;
                    font-size: 00.875rem;
                    color: #000;
                }

                .textInfo:nth-of-type(odd) {
                    background-color: #fafafa;
                }
            }
        }
    }

    .slideshow {
        width: 100%;
        position: relative;
        overflow: hidden;

        .slide {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            gap: 10px;
            overflow-x: auto;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                visibility: hidden;
            }

            .item {
                background-color: #fff;
                width: 16rem;
                border-radius: 1rem;
                flex: none;
                margin: 10px;
                padding: 10px;

                .image {
                    position: relative;
                    width: 100%;
                    height: 200px;
                }

                .infoSlide {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .name {
                        display: block;
                        font-size: 0.75rem;
                        font-weight: bold;
                        padding: 10px 0;
                        color: #000;
                    }

                    .price {
                        display: block;
                        font-size: 0.75rem;
                        color: #000;
                        font-weight: bold;
                    }
                }
            }
        }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            margin-top: -22px;
            font-size: 2.25rem;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.6s ease;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 5;
            padding: 3px;
            width: auto;
            color: #fff;
        }

        .prev {
            left: 0;
            border-radius: 0 3px 3px 0;

            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        .next {
            right: 0;
            border-radius: 0 3px 3px 0;

            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }
}

@media (max-width:640px) {
    .detailProduct {
        .container {
            flex-direction: column;

            .leftCol {
                width: 100%;
            }
        }

        .infoDetail {
            .gridInfoDetail {
                width: 100%;
                grid-template-columns: 1fr;
            }
        }
    }
}